<!DOCTYPE html>
<html>
    <head>
        <title>Super Shortlinker</title>
        <style>

        </style>
    </head>
    <body>
        <h1>Super Shortlinker</h1>
        <h2>Create Short Links</h2>
        {{#message}}<span style="color: {{color}}">{{message}}</span>{{/message}}
        <form id="link-maker" method="post" enctype="application/x-www-form-urlencoded">
            <p><label>Short Link:<br><input id="short-link"></label></p>
            <p><label>Full URL:<br><input name="url" type="url"></label></p>
            <button id="submit">Submit</button>
        </form>

        <script>
            var linkMaker = document.getElementById('link-maker');
            var shortLink = document.getElementById('short-link');
            document.getElementById('submit').addEventListener('click', (e) => {
                linkMaker.action = '/l/' + shortLink.value;
                linkMaker.submit();
            })
        </script>
    </body>
</html>