<!DOCTYPE html>
<html>
    <head>
        <title>Super Shortlinker</title>
        <style>

        </style>
    </head>
    <body>
        <h1>Super Shortlinker</h1>
        <h2>Create Short Links</h2>
        {{#model.message}}<span style="color: {{color}}">{{message}}</span>{{/model.message}}
        {{#session.user}}
        <form id="link-maker" method="post" enctype="application/x-www-form-urlencoded">
            <p><label>Short Link:<br><input id="short-link"></label></p>
            <p><label>Full URL:<br><input name="url" type="url"></label></p>
            <button id="submit">Submit</button>
        </form>

        <script>
            var linkMaker = document.getElementById('link-maker');
            var shortLink = document.getElementById('short-link');
            document.getElementById('submit').addEventListener('click', (e) => {
                linkMaker.action = '/l/' + shortLink.value;
                linkMaker.submit();
            })
        </script>
        {{/session.user}}
        <h3>Links submitted by our users</h3>
        <ul>
            {{#model.links}}
            <li><a href="/l/{{link}}">{{url}}</a></li>
            {{/model.links}}
        </ul>
    </body>
</html>