<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <div class="container"><a class="navbar-brand" href="/">John Q. Public</a><button data-toggle="collapse"
            data-target="#navbar-menu" class="navbar-toggler" aria-controls="navbar-menu" aria-expanded="false"
            aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>